<!--  Don't edit anything here. Set your disqus id in _config.yml -->
<div class="accordion mt-5" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            disqus 评论
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div id="comments">
                <div id="disqus_thread">
                </div>
                <script type="text/javascript">
                    var disqus_shortname = '{{site.disqus}}'; 
                    var disqus_developer = 0;
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>
                请开启 JavaScript 以查看 <a href="http://disqus.com/?ref_noscript">评论 powered by Disqus.</a>
                </noscript>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            valine 评论
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <div id="vcomments"></div>
            <script>
                new Valine({
                    el: '#vcomments',
                    appId: '{{site.valine_appID}}',
                    appKey: '{{site.valine_appKey}}'
                })
            </script>
        </div>
      </div>
    </div>
  </div>