<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories-list.html">分类</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags-list.html">标签</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">留言</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/recommend.html">心愿单</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/donate.html">捐赠 <i class="fa fa-coffee text-danger"></i></a>
</li>
